.basic1{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
}  
.right {
    display: flex;
    font-weight: 700;
    gap: 70px;
    justify-content: right;
    padding-right: 50px;
    padding-top: 20px;
}
a {
    text-decoration: none;  
    color: inherit;         
}
.left {
    height: 45px;
    display: flex;
    justify-content: left;
}